.content {
	width: 50vw;
	margin: auto;
}

.content button {
	width: 100%;
	height: 100%;
}

.column_types {
	width: 100%;
	margin: auto;
}

.column_types .col {

	background-color: #888;
	margin: 1px;

}

.column_types .col>* {

	margin-top: 5px;

}

h5 {
	text-align: center;
}

.column_types>*  {}

#col_width_slider {
	
	width: 200px;
	margin: auto;

};

